a:hover{
    text-decoration: none;
}

body{
    background: #080213;
}

html{
    box-sizing: border-box;
    font-size: 16px;
    
}
header{
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 105vh;
    padding-top: 20px;
}

/*----------------Navigation Bar Effects-------------------- */

.nav{
    display: flex;
    justify-content: center;
    box-shadow: 0 20px 20px -20px rgba(0,0,0,2.75);
    padding: 20px 30px ;
    position: absolute;
    transform: all 0.3s;
    background: #04000d;
    z-index: 9;
    top: 0px;
    width: 100%;
    
}

.nav ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.nav ul li{
    display: flex;
}

/*---------------Navigation Bar Text Color & Effects--------*/

.nav ul li a{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.1em;
    color: #ea65b2;
    padding: 0.25rem 0;
    margin: 0 1.20rem;
    text-transform: uppercase;
}


.nav ul li.logo .black{
    display: none;
}

.nav ul li.logo a{
    margin: 0 4rem;
    box-shadow: 0 20px 20px -20px rgba(0,0,0,2.75);
}

/*-------------------------Hamburger Icon Effects------------------------*/

.nav-icon{
    position: absolute;
    top: 31px;
    right: 5px;
    padding: 5px;
    width: 40px;
    z-index: 1;
    cursor: pointer;
}

.nav-icon span{
    background: #ea65b2;
    width: 30px;
    height: 1px;
    display: block;
    transition: 150ms linear all;
}

.nav-icon span:nth-child(1),
.nav-icon span:nth-child(3){
    width: 17px;
    margin: 0 auto;
}

.nav-icon span:nth-child(2){
    margin: 5px 0;
    widows: 32px;
}

.nav-icon:hover span:nth-child(1),
.nav-icon:hover span:nth-child(3){
    width: 30px;
}

/*-----------------Hamburger Menu Design Effects-------------*/

.full-nav{
    background: #080213;
    color: #ab1576;
    position: fixed;
    left: 0;
    top: 0px;
    height: 100%;
    width: 100%;
    padding: 3.75rem;
    z-index: 99;
    overflow-x: hidden;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100px);
    transition: all .6s ease-in-out;
}

.full-nav.open{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: all .6s ease-in-out;
    z-index: 99;
}

.full-nav .logo{
    display: flex;
    justify-content: center;
    padding: 2.5rem;
}

.nav2{
    display: flex;
    justify-content: center;
}

.nav2 ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 700px;
}

/*---------------Hamburger Table Border Effects-----------*/

.nav2 ul li{
    display: flex;
    flex: 50%;
    background-color: #009bff;
    padding: 1rem;
    border-bottom: 10px solid #84146a;
    border-right: 10px solid #84146a;
    transition: all 0.5s;
    
}

.nav2 ul li a{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.4em;
    color: #18191d;
    
}

.nav2 ul li a span{
    color: #b9b9b9;
}

.nav2 ul li:hover{
    background-color: #ff1637;
}

.nav2 ul li:hover a,
.nav2 ul li:hover a span{
    color: white;
}

/*-------------------Social Media Icons--------------------*/

.social-icons a{
    color: #009917;
    border: 4px solid #00d761;
    width: 50px;
    height: 50px;
    line-height: 40px;
    font-size: 20px;
    display: inherit;
    text-align: center;
    border-radius: 50px;
    transition: all ease .6s;
    margin: 40px;    
}

.social-icons a:hover i{
    color: whitesmoke;
    margin-top: -10px;
    transition: all ease .6s;
    border-color: #000;
}

.social-icons a:hover {
    color: #000;
    margin-top: -10px;
    border-color: #000;
}

ul.social-icons.list-inline{
    text-align: center;
    margin-top: 22px;
}

.list-inline > li{
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

/*------------------Corner Circle Effects---------------------*/

.corner-circle{
    position: absolute;
    top: 0;
    right: 0;
    width: 120px;
    height: 120px;
    background-color: #ff1637;
    border-radius: 0 0 0 120px;
    z-index: 2;
}

.nav-close{
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 30px;
    right: 30px;
}

.nav-close span{
    background: #18191d;
    width: 30px;
    height: 1px;
    display: block;
    position: absolute;
    top: 14px;
}

.nav-close span:nth-child(1){
    transform: rotate(45deg);
}

.nav-close span:nth-child(2){
    transform: rotate(-45deg);
}


/*-----------------------Sticky Nav Bar---------------------*/

.nav.sticky{
    width: 100%;
    position: fixed;
    background-color: #070110;
    box-shadow: 0 20px 20px -20px rgba(0,0,0,2.75);
    animation-name: animationFade;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes animationFade{
    from{
        opacity: 0;
        -webkit-transform: translate3d(0,-100%,0);
        transform: translate3d(0, -100,0);
    }
    
    to{
        opacity: 1;
        transform: none;
        -webkit-transform: none;
        -o-transform: none;
        
    }
}


/*--------------------Sticky Bar Text Color----------------*/

.nav.sticky a{
    color: #ea65b2;
}

.nav.sticky ul li.logo .white{
    display: none;
}

.nav.sticky ul li.logo .black{
    display: inline-block;
}

.nav.sticky nav.icon span{
    background: #18191d;
}


/*---------------------Video Background--------------------*/

video#herovideo{
    width: 100%;
}

.bx-wrapper .social-icons a{
    color: white;
    border: 1px solid white;
    width: 40px;
    height: 40px;
    font-size: 20px;
    display: inherit;
    text-align: center;
    padding-top: 5px;
    transition: all ease 1s;
    background: #000;
    border-radius: 0px;
}

.bx-wrapper .social-icons a i{
    position: relative;
    bottom: 7px;
}

.vidContent{
    position: absolute;
    top: 290px;
    color: #f1f1f1;
    width: 100%;
    padding: 10%;
    text-align: left;
}

.vidContent h1{
    font-family: 'Oswald', sans-serif;
    font-size: 4em;
    font-weight: 650;
    color: #00BCD4;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.vidContent p{
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
}

#vidBtn{
    font-family: 'Roboto Condensed', sans-serif; 
    display: inline-block;
    font-size: 16px;
    padding: 15px 40px;
    border: none;
    background: white;
    color: #333;
    cursor: pointer;
    margin-top: 18px;
    border-radius: 50px;
    animation: shadow-pulse 2s infinite;
    text-transform: uppercase;
}

@keyframes shadow-pulse{
    0%{
        box-shadow: 0 0 0 0px rgba(0,0,0,0.2);
    }
    
    100%{
        box-shadow: 0 0 0 20px rgba(0,0,0,0.2);
    }
}